.card-empresas-inicio {
    display: flex;
    align-items: center;
    border-top: 1px solid #616161;
    padding: 10px 0;
  }
  
  .card-empresas-inicio img {
    height: 75px;
  }
  
  .card-empresas-inicio-content h4, .card-empresas-inicio-content h3, .card-empresas-inicio-content p {
    margin: 0;
  }
  
  .card-empresas-inicio-content {
    text-align: left;
  }