.d-company{

    .d-company-name{
        img{
            width: 100%;
            max-width: 90px;
            margin-right: 1rem;
        }
    }

    .d-company-info{
        .d-company--social-links{
            list-style: none;
            display: flex;

            li{
                margin: 1rem;

                .svg-inline--fa{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .d-company-photos{

        .carousel{
            img{
                max-width: 300px;
                height: 200px;
                overflow: "hidden";
            }
        }
        .carousel-control-prev {
            @media (min-width: 992px) {
                right: 100%;
                left: auto;
            }
            
            &:hover{
              filter: none;
            }
          }
    
          .carousel-control-next {
            @media (min-width: 992px) {
                left: 100%;
            }
            
            &:hover{
              filter: none;
            }
          }
    }
}


/* Carousel Lightbox */

.lightbox{

    .carousel-control{

        &:hover{
            background-color: transparent;
        }
    }
}