/* .home-page {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.home-page h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.home-page a {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin: 10px 0;
}

.home-page a:hover {
  text-decoration: underline;
}

.home-page .map-container {
  margin-top: 20px;
} */

.home-page {
  .content {
    margin: 0;

    .col-mapa-inicio,
    .col-directorio-inicio{
      padding: 0;
    }

    .directorio-container {
      margin: 0px;
      overflow-y:scroll;
      height: 411px;
    }

    .recent-companys,
    .popular-companys{

      .carousel-control-prev {
        right: 100%;
        left: auto;

        &:hover{
          filter: none;
        }
      }

      .carousel-control-next {
        left: 100%;

        &:hover{
          filter: none;
        }
      }

      .card{
        margin: 2rem;

        .card-header{
          background-color: #fff;
          border-bottom: none;
          img{
            width: 90px;
            height: 90px;
          }
          .card-titles{
            display: flex;
            flex-direction: column;
            align-self: center;
          }
        }

        .card-body{
          .btn{
            background-color: #7E57BC;
            color: #fff;
            font-weight: bold;
            border: none;
          
            &:hover,
            &:focus,
            &:active{
                background-color: #7E57BC !important;
                opacity: .7;
                filter: none;
            }
          }
        }
      }
    }
  }
}