 @tailwind base;
 @tailwind components;
 @tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #e1cfe2;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  transition: 0.3s ease-in-out;
}
a:hover {
filter: brightness(0.5);}

nav {
  display: flex;
  align-items: center;

}
nav.userNav {
  position: absolute;
  right: 0;
  background-color: #391179;
  color: #fff;
  padding: 5px;
  width: fit-content;
}

nav.menuNav {
  background-color: #7E57BC;
  color: #fff;
  padding: 25px 15px 25px;
}

nav a {
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
}

 nav ul li {
padding: 0 10px;
}

form button {
  background-color: #7E57BC;
  padding: 10px;
  color: #fff;
}