/*AdminDashboard*/

.dashboard {

  .card {
    border-top: 3px solid #7e57bc;

    .card-header{
      background-color: #fff;
      border: none;
      margin-top: .5rem;

      .card-subtitle {
        font-size: 1.3rem;
      }
    }

    .card-body {
      height: 250px;
      display: flex;
      flex-direction: column;
    }
  }

  &.admin-dashboard {
    
      .card-body {

        &.card-body-xl{
          height: 400px;
          max-height: 400px;
          overflow: scroll; 
        }
        
        .requests-list {
          list-style: none;

          li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.5rem 0;
            font-weight: 600;

            .request-buttons {
              margin-right: 1rem;

              .request-button {
                margin: 0 0.5rem;
                color: #fff;
                font-weight: 600;

                &:hover {
                  opacity: 0.7;
                }

                &.approve-button {
                  background-color: #4caf50;
                }

                &.cancel-button {
                  background-color: #f44336;
                }
              }
            }
          }
        }
      }
    
  }

  /* UserDashboard */

  &.user-dashboard {
      .card-body {
        .btn-register-company {
          float: right;
        }
      }
    }
  
}
