/*AdminDashboard*/

.admin-dashboard {
  .card {
    border-top: 3px solid #7e57bc;

    .card-body {
      .card-subtitle {
        font-size: 1.5rem;
      }

      .requests-list {
        list-style: none;

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0.5rem 0;
          font-weight: 600;

          .request-buttons {
            margin-right: 1rem;

            .request-button {
              margin: 0 0.5rem;
              color: #fff;
              font-weight: 600;

              &:hover {
                opacity: 0.7;
              }

              &.approve-button {
                background-color: #4caf50;
              }

              &.cancel-button {
                background-color: #f44336;
              }
            }
          }
        }
      }
    }
  }
}

/*
.admin-dashboard {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .admin-dashboard h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .requests-list {
    list-style-type: none;
    padding: 0;
  }
  
  .request-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .request-item:hover {
    background-color: #f9f9f9;
  }
  
  .request-buttons {
    display: flex;
    gap: 10px;
  }
  
  .request-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .approve-button {
    background-color: #4caf50;
    color: white;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
  }
*/

/* UserDashboard */

.user-dashboard {
  .card {
    border-top: 3px solid #7e57bc;

    .card-body {
      .card-subtitle {
        font-size: 1.5rem;
      }

      .btn-register-company {
        float: right;
      }
    }
  }
}

/*
  
  .user-dashboard h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .user-dashboard .company-list {
    list-style-type: none;
    padding: 0;
  }
  
  .user-dashboard .company-item {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .user-dashboard .company-item:hover {
    background-color: #f1f1f1;
  }
*/
